img.header{
	height: 400px;
    width: 1000px;
    margin-left: 120px;
}

div.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #e9d8f4;
}

div.nav ul li {
  float: left;
}

div.nav ul li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

div.nav ul li a:hover {
  color: white;
  background-color: #db7093;
  font-weight: bold;
}

div.container {
    width: 100%;
    border: 1px solid gray;
}
 
header, footer {
    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
}
 
nav {
    float: left;
    max-width: 160px;
    margin: 0;
    padding: 1em;
}
 
nav ul {
    list-style-type: none;
    padding: 0;
}
    
nav ul a {
    text-decoration: none;
}
 
article {
    margin-left: 170px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
}

article img {
	height: 250px;
    width: 600px;
    margin-left: 160px;
}

img.top{
  height: 250px;
  width: 210px;
}

